/* Importation des fichiers CSS */

/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";
@import "base/404.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";

/* Components */
@import "components/buttons.css";
@import "components/card.css";
@import "components/carousel.css";
@import "components/hero.css";
@import "components/menu.css";

/* Ajout de l'import pour le composant modal */
@import "components/faq.css";